/* styling project headphones, my most complicated html/css project so far */
/* Reset css */
* {
    margin: 0;
    padding: 0;
}
/* general body specifications */
body {
    display: flex;
    flex-direction: column;
}

/* styling section1 */

   /* adding the background image to the header and main section */
   .section1 {
    background-image: url(headphones-hero-1.jpg);
   }

   /* styling the entire header */

/* General styling of the header and making the full header fixed and immovable and not touch the sides of the screen */
header {
    display: flex;
    cursor: pointer;
    margin: 100px;
    margin-top: 20px;
}

/* spacing the 2 divs in the header appropriately */
nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* getting the contents of this div in a straight line by flexing the display*/
.header1{
    display: flex;
    margin: 10px;
}

 /* getting the contents of this div in a straight line by flexing the display*/
 .header2{    
    display: flex;  
    padding: 10px;
}

/* spacing between each list item and removing the dots */
.header2 li{
    list-style: none;
    padding: 12px;
}

/* changing the anchor tag text colour */
.header2 li a {
    text-decoration: none;
    color: #dce0e3;
    font-weight: 500;
}

/* changing the hoover color of the header */
.header2 li a:hover {
    color: #c56fff;
}
/* header done and dusted */

/* styling the main section still in section1 but the actual hero section */
