/* Reset CSS */
* {
    margin: 0;
    padding: 0;
}

/* Adding the recommended fonts SourceSansPrO */
@font-face {
    font-family: 'Source Sans Pro';
    src: url('./source-sans-pro/SourceSansPro-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
  }
  @font-face {
    font-family: 'Source Sans Pro';
    src: url('./source-sans-pro/SourceSansPro-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

  /* Adding recommended fonts SpinCycleOT*/
  @font-face {
    font-family: 'Spin Cycle OT';
    src: url('./Spin-Cycle-OT/spincycle_3d_ot.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: 'Spin Cycle OT';
    src: url('./Spin-Cycle-OT/spincycle_ot.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }