/* Reset css */
* {
    margin: 0;
    padding: 0;
}
/* general body specifications */
body {
    display: flex;
    flex-direction: column;
}

/* styling section1 */

   /* adding the background image to the header and main section */
   .section1 {
    background-image: url(Object.png);
   }

/* styling the entire header */

/* General styling of the header and making the full header fixed and immovable and not touch the sides of the screen */
header {
    display: flex;
    position: sticky;
    top: 0;
    cursor: pointer;
    margin: 100px;
    margin-top: 20px;
}

/* spacing the 2 divs in the header appropriately */
nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

   /* getting the contents of this div in a straight line by flexing the display*/
.header1{
    display: flex;
    margin: 10px;
}

/* styling the company name */
.header1 h2{
    font-weight: 500;
    margin: 3px;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    align-items: center;
    color: #feffff;
}

/* to create space between the logo and the name */
.header-name {
    padding: 15px;
}

/* to align the the logo to newly adjusted name */
.svg-header {
    padding: 15px;
}

 /* getting the contents of this div in a straight line by flexing the display*/
.header2{    
    display: flex;  
    padding: 10px;
}

/* spacing between each list item and removing the dots */
.header2 li{
    list-style: none;
    padding: 12px;
}

/* changing the anchor tag text colour */
.header2 li a {
    text-decoration: none;
    color: #dce0e3;
    font-weight: 500;
}

/* changing the hoover color of the header */
.header2 li a:hover {
    color: #c56fff;
}
/* header done and dusted */

/* styling the main section still in section1 but the actual hero section */

.hero {
    width: 80%;
    overflow: hidden;
    margin: 10px;
    display: flex;  
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* styling the h1 text div inside hero1 */
.h1-hero {
    font-weight: 900;
    color: #fafafa;
    font-size: 9vmax;
    line-height: 1;
    margin-left: 420px;
    margin-top: 25px;
    font-weight: bolder;
}

/* styling the span div inside hero1  */
.span {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    color: #fafafa;
    font-size: 19px;
    line-height: 1;
    font-weight: 400;
    margin-top: 10px;
    margin-left: 500px;
}

/* changing the hoover color of the span li */
.span :hover {
    color: black;
}

/* styling the buttons */
button {
    cursor: pointer;
    background-color: #c56fff;
    color: #fafafa;
    font-size: 16px;
    padding: 10px 20px;
    margin-top: 30px;
    border-radius: 50px; /* Optional, for rounded corners */
    margin-left: 670px;
    cursor: pointer;
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.5); /* Prominent shadow */
    transition: box-shadow 0.3s ease, transform 0.3s ease; /* Smooth hover effects *//
 }

 /* styling the (h2,pictures and p tag) last part of the main section/section 1 */
 .main2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 200px;
    margin-top: 100px;
 }

 /* styling the h2 element in main2 */
 .main2 h2 {
    font-size: 34px;
    font-weight: 500;
    margin-left: 150px;
 }

 /* styling just the first word in h2 purple */
 .main2 h2 span {
    color: #c56fff;
 }

 /* styling the pictures in main-main3 */
 .main3 {
    display: flex;
    flex: 10px 10px;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 50px;
 }

 /* Spacing all the divs in main3 appriopriately */
 .main3 div {
    margin: 45px;
 }

 /* styling all the h3 in the main3 */
 .main3 h3 {
    color: #f7ffff;
    font-weight: 900;
 }

 /* styling all p elements in main3  */
 .main3 p {
    color: #f7ffffac;
    
 }
 /* Section1 done and dusted */

 /* styling section2 parent section and adding the background colour purple */
 .section2 {
    background: #c56fff;
    width: 100%;
 }

 /* styling the sub parent div containg both the image and text section2.1  and centering the content */
 .section2-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 80px;
 }


 /* styling the section2 image  */
 .section2-img {
    margin: 20px;
 }

 /* styling the section2 text */
 .section2-text {
    margin: 20px;
    padding: 20px;
    line-height: 1.5;   
 }

 /* styling section2 text blockquote */
 .section2-text blockquote {
    font-size: 21px;
    margin-bottom: 15px;
    color: #f7ffffca;
 }

 /* styling section2 text h3 */
 .section2-text h3 {
    font-size: 21px;
    color: #f7ffff;
    font-weight: bold;
 }

 /* styling section2 text p */
 .section2-text p {
    font-size: 21px;
    color: #f7ffffca;
 }
 /* Section2 done and dusted */

 /* Styling section3 */
 .section3 {
    background: white;
 }

 /* styling tthe section3 h2 */
 .section3 h2 {
    font-size: 30px;
    margin-top: 30px;
    width: 100%;
    text-align: center;
 }

 /* styling the middle word of the h2 text purple */
 .section3 h2 span {
    color: #c56fff;
 }

 /* styling the sub parent div section3-1 and putting the contents of the 4 divs inside in a row */
 .section3-1 {
    width: max-content;
    display: flex;
    flex-direction: row;
    margin-top: 40px;
 }

 /* styling the divs individually so they stay in a horizontal row */
 .divs4 {
    flex: 1;
    max-width: 25%;
 }

 /* arranging all the stars in a row */
 .stars {
    display: flex;
    flex-direction: row;
 }